---
layout: default
---
<div class="blog blog-{% if page.type %}{{ page.type }}{% else %}default{% endif %}">
<div style="margin-top:10px;position:relative">
    <div style="float:left;" id="back"><a href="/">&lt; Back to mainpage</a></div>
    <div style="float:right" id="edit"><a href="https://github.com/Emojigit/emojigit.github.io/edit/master/{{ page.path }}">Edit</a></div>
</div>
<div clear></div>
<h1>{{ page.title }}</h1>
<div id="blogContent">{{ content }}</div>
{% if page.discuss %}<script src="https://giscus.app/client.js"
        data-repo="Emojigit/emojigit.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNzgzMzQ5MTI="
        data-category="Giscus"
        data-category-id="DIC_kwDOEJcNwM4CS0Lu"
        data-mapping="specific"
        data-term="{% if page.discuss_title %}{{ page.discuss_title }}{% else %}{{ page.url }}{% endif %}"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-TW"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>{% endif %}
</div>
