<!DOCTYPE HTML>
<html prefix="og: https://ogp.me/ns#" lang="{% if page.lang %}{{ page.lang }}{% else %}{{ site.lang }}{% endif %}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{% if page.title %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
</head>
<body>
    {{ content }}
</body>
